@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap");

body {
  /* width: 480px;
  height: 240px; */
  background-color: #191414;
  padding: 0px;
  margin: 0px;
  color: #dadada;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.menu_btn {
  background-color: #1db954;
  width: 130px;
  min-width: fit-content;
  height: 40px;
  border: 0;
  outline: none;
  border-radius: 35px;
  cursor: pointer;
  font-family: "Noto Sans SC", Arial, sans-serif;
  font-size: 16px;
  color: #fffae3;
  margin: 20px;
}

.menu_btn:hover {
  background-color: #169a44;
  color: #ebebeb;
}

.menu_text-input {
  height: 35px;
  width: 160px;
  outline: none;
  border: none;
  border-radius: 25px;
  padding: 0px 15px;
  background-color: #615c5c;
  color: #e6e3d9;
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 17px;
}

.menu_text-input::placeholder {
  color: #aeaeae;
  font-size: 15px;
}

.nameSetup_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameSetup_container > h2 {
  font-size: 2rem;
  text-align: center;
}

.nameSetup_container > form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
